@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap'); /*rubik font*/
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;700&display=swap'); /* Syne font */


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(./img/background.PNG);
    background-size: cover;
    background-repeat: no-repeat;
}
.header {
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.content {
    margin: 20px;
}
.skills {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.skill {
    background-color: #ddd;
    border-radius: 5px;
    font-size: 1.2em;
    margin: 5px;
    padding: 10px;
    width: 30%;
}

.menu-list{
    list-style-type: none;
    margin-left: auto;
    padding: 5px;
    display: flex;
    margin-right: 20px;

}
.menu-list a{
    text-decoration: none;
    color: white;
    padding: 20px;
    font-family: 'Rubik', sans-serif;
    font-size: 10px;
    opacity: 0.5; 
    font-weight: 450;
}

.name{
    font-family: 'Syne', sans-serif;
    font-size: 12px;
    margin-left: 20px;
    color: white;
}



#contact-link{
    margin-left: 40px;
    opacity: 1;
    border-radius: 100px;
    padding: 15px;
    padding-left: 36px;
    padding-right: 36px;
    border: 2px solid #D8D8D8;
    background-color: #030304;
}

@media screen and (max-width: 980px) {
    .menu-list{
        display: none;
    }
    
}

.footer {
    padding: 5px;
    color: #fff;
    margin-top: 20px;
    font-family: 'Rubik', sans-serif;
    font-size: 12px; /* Reduced font size */
  }

.message {
    font-size: 18px; /* Reduced font size */
    text-align: center;
    font-family: 'Syne', sans-serif;
    font-weight: 700; /* Bold weight for Syne */
    color: #FF9142;
    margin-bottom: 10px; /* Reduced margin */
}
  
.mail {
    text-align: center;
  }
  
.mail a {
    color: white;
    font-size: 20px; /* Reduced font size */
    font-family: 'Syne', sans-serif;
    font-weight: 700;
  }

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.social {
     /* Adjusted margin */
    align-items: center; /* How to align all the elements in the flex container vertically */
    display: flex;
  }


li{
    list-style-type: none;
}

.social-media ul{
    display: flex;
}
.social-media li{
    margin-right: 9.65px;
}

.social-media img{
    width: 30px;
    height: 30px;
}

.social-media{
    align-items: center;
}

.copyright ul li{
    text-align: center;
}

.copyright ul li p{
    text-decoration: none;
    color: white;
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    font-size: 8px;
}

.line-separator {
    height: 2px;
    background-color: #949494;
}