@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap'); /*rubik font*/
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;700&display=swap'); /* Syne font */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(./img/background.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.header {
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.content {
    margin: 20px;
    color: white;
    width: 50%;
    margin-left: 100px;
    margin-top: 60px;
}

.content h2{
    margin-bottom: 90px;
    font-family: 'Syne', sans-serif;
    font-size: 56px;
}

.content p{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    margin-top: 0;
    text-align: left;
    width: 100%;
    opacity: 0.5;
}

.skills {
    margin-top: 30px;
    
}

.skills ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: center;
}
.code-title li{
    background-color: #ddd;
    border: 5px solid #ccc;
    border-radius: 5px;
    font-size: 1.2em;
    margin: 5px;
    padding: 38px;  
    width: 30%;
    padding-bottom: 135px;
    padding-top: 171px;
    width: 335px;
}

.code-desc li{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    margin-top: 0;
    text-align: left;
    width: 100%;
    opacity: 0.5;
    text-align: center;
}

.skills h2{
    font-family: 'Syne', sans-serif;
    font-size: 64px;
    margin-bottom: 88px;
    text-align: center;
    width: 100%;
    color: white;
}

.menu-list{
    list-style-type: none;
    margin-left: auto;
    padding: 5px;
    display: flex;
    margin-right: 20px;

}
.menu-list a{
    text-decoration: none;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 10px;
    opacity: 0.5; 
    font-weight: 450;
    background-color: #030304;
    margin: 20px;
    transition: opacity 0.2s ease-in-out;
}

.menu-list a:hover{
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.name{
    font-family: 'Syne', sans-serif;
    font-size: 12px;
    margin-left: 20px;
    color: white;

}

.name a{
    text-decoration: none;  
    color: #fff; 
}


#contact-link{
    margin-left: 40px;
    opacity: 1;
    border-radius: 100px;
    padding: 15px;
    padding-left: 36px;
    padding-right: 36px;
    border: 2px solid #D8D8D8;
    background-color: #030304;
    transition: background 0.5s ease, color 0.5s ease;
}

.footer {
    padding: 5px;
    color: #fff;
    margin-top: 20px;
    font-family: 'Rubik', sans-serif;
    font-size: 12px; /* Reduced font size */
  }

.message {
    font-size: 18px; /* Reduced font size */
    text-align: center;
    font-family: 'Syne', sans-serif;
    font-weight: 700; /* Bold weight for Syne */
    color: #FF9142;
    margin-bottom: 10px; /* Reduced margin */
}
  
.mail {
    text-align: center;
  }
  
.mail a {
    color: white;
    font-size: 20px; /* Reduced font size */
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    margin-right: 10px;
  }

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.social {
     /* Adjusted margin */
    align-items: center; /* How to align all the elements in the flex container vertically */
    display: flex;
  }


li{
    list-style-type: none;
}


.social-media a{
    margin-right: 9.65px;
}

.social-media img{
    width: 30px;
    height: 30px;
}

.social-media{
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
}

.copyright {
    text-align: center;
}



.copyright p{
    text-decoration: none;
    color: white;
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    font-size: 8px;
}

.line-separator {
    height: 2px;
    background-color: #949494;
}

.start{
    color: #ffffff;
    align-items: center;
    text-align: center;
    padding: 30px;
    margin-top: 50px;
    display: inline-block;
    max-width: 100%;    
}

.start h1{
    font-family: 'Syne', sans-serif;
    font-size: 72px;
    /*i need to justify to the center myh text*/
    margin-bottom: 20px;
    align-items: center;
}
.start button {
    font-family: 'Rubik', sans-serif;
    font-size: 13px;
    font-weight: 700;
    border-radius: 100px;
    padding: 15px;
    padding-left: 36px;
    padding-right: 36px;
    border: none; 
    background-color: #FF9142; /* Set the initial button color */
    background-size: 200% 200%;
    background-position: top;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    transition: background 0.5s ease, color 0.5s ease;
    
  }
  
.start button:hover {
    background-color: rgb(0, 0, 0); /* Fills the color from top to bottom on hover */
    color: #FF9142; /* Invert the text color on hover */
    transition: background 0.5s ease, color 0.5s ease;
  }

@media screen and (max-width: 578px) {
    .menu-list{
        display: none;
    }
}

@media screen and (max-width: 510px) {
    .flex-container{
        flex-direction: column;
    }
}
@media screen and (max-width: 690px) {
    .start h1{
        font-size: 41px;
    }
}

button{
    cursor: pointer;
}

/* Other CSS styles */

.discover-button {
  opacity: 0;
}

.discover-button.show {
  opacity: 1;
  transition: opacity 1s ease, background 0.5s ease, color 0.5s ease;/* Smooth transition effect */
}

/* Other CSS styles *//* Other CSS styles */

.typing-cursor {
  display: inline-block;
  vertical-align: auto;
  width: 5px; /* Adjust the width of the cursor */
  height: 60px; /* Adjust the height of the cursor */
  background-color: rgb(255, 255, 255); /* Adjust the color of the cursor */
  animation: blink-caret 0.75s infinite; /* Define the blinking animation */
}

@keyframes blink-caret {
  0%, 100% { opacity: 0; } /* Define the opacity for the blinking effect */
  50% { opacity: 1; } /* Define the opacity for the blinking effect */
}

/* Other CSS styles */

#contact-link:hover{
    background-color: white;
    color: #030304;
    transition: background 0.5s ease, color 0.5s ease;
}

.aboutme-button {
    font-family: 'Rubik', sans-serif;
    font-size: 13px;
    font-weight: 700;
    border-radius: 100px;
    padding: 15px;
    padding-left: 36px;
    padding-right: 36px;
    border: none; 
    background-color: #FF9142; /* Set the initial button color */
    background-size: 200% 200%;
    background-position: top;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    transition: background 0.5s ease, color 0.5s ease;
}

.aboutme-button:hover {
    background-color: rgb(0, 0, 0); /* Fills the color from top to bottom on hover */
    color: #FF9142; /* Invert the text color on hover */
    transition: background 0.5s ease, color 0.5s ease;
}

.cv-button{
    font-family: 'Rubik', sans-serif;
    font-size: 13px;
    font-weight: 700;
    border-radius: 100px;
    padding: 15px;
    padding-left: 36px;
    padding-right: 36px;
    border: none; 
    background-color: #FF9142; /* Set the initial button color */
    background-size: 200% 200%;
    background-position: top;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    transition: background 0.5s ease, color 0.5s ease;
}

.cv-button:hover {
    background-color: rgb(0, 0, 0); /* Fills the color from top to bottom on hover */
    color: #FF9142; /* Invert the text color on hover */
    transition: background 0.5s ease, color 0.5s ease;
}

.button-container button{
    margin-right: 20px;
}

.button-container{
    margin-bottom: 180px;
    
}

.skills{
    background-color: cyan;
}

.skills div{
    margin: 20px;
}

.page-enter {
    opacity: 0;
  }
  
  .page-enter-active {
    opacity: 1;
    transition: opacity 300ms;
  }
  
  .page-exit {
    opacity: 1;
  }
  
  .page-exit-active {
    opacity: 0;
    transition: opacity 300ms;
  }
  
  .fade-in-enter {
    opacity: 0;
  }
  
  .fade-in-enter-active {
    opacity: 1;
    transition: opacity 300ms;
  }
  
  .fade-in-exit {
    opacity: 1;
  }
  
  .fade-in-exit-active {
    opacity: 0;
    transition: opacity 300ms;
  }