@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap'); /*rubik font*/
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;700&display=swap'); /* Syne font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(./img/background.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.header {
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-top: 5px;
    align-items: center;
}
.content {
    margin: 20px;
    color: white;
    width: 50.5%;
    margin-left: 100px;
    margin-top: 60px;
    margin-right: 40px;
}

.content h2{
    margin-bottom: 90px;
    font-family: 'Syne', sans-serif;
    font-size: 56px;
}

.pc-version {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    margin-top: 0;
    text-align: left;
    width: 100%;
    opacity: 0.5;
}

.mobile-version{
    display: none;
}

.skills {
    margin-top: 30px;
    
}

.skills ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: center;
}

.code-title{
    padding: 20px;
    margin-bottom: 20px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.code-title.show{
    opacity: 1;
}

.code-title li{
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    color: #ccc;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 28px;
    margin: 50px;
    padding: 38px;  
    padding-bottom: 50px;
    padding-top: 130px;
    width: 400px;
}

.code-desc li{
    /*font-family: 'Rubik', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin-top: 0;
    text-align: left;
    width: 100%;
    opacity: 0.5;
    padding-top: 40px;
    font-weight: 0;
    margin: 0;*/
    font-weight: 0;
    border: none;
    font-size: 14px;
    margin: 0px;
    padding: 0px;  
    padding-bottom: 50px;
    padding-top: 15px;
    width: 400px;
    padding-bottom: 0;
}




.title-logo{
    margin: 0;
    align-items: center;
    display: flex;
}

.code-logo{
    width: 40px;
    margin-left: 10px;
    margin-top: 0px;
}

.skills h2{
    font-family: 'Syne', sans-serif;
    font-size: 64px;
    margin-bottom: 88px;
    text-align: center;
    width: 100%;
    color: white;
}

.menu-list{
    list-style-type: none;
    margin-left: auto;
    padding: 5px;
    display: flex;
    margin-right: 20px;

}
.menu-list a{
    text-decoration: none;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 13px;
    opacity: 0.5; 
    font-weight: 450;
    margin: 20px;
    transition: opacity 0.2s ease-in-out;
}

.menu-list a:hover{
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.name{
    font-family: 'Syne', sans-serif;
    font-size: 16px;
    margin-left: 20px;
    color: white;

}

.name a{
    text-decoration: none;  
    color: #fff; 
}


#contact-link{
    margin-left: 40px;
    opacity: 1;
    border-radius: 100px;
    padding: 15px;
    padding-left: 36px;
    padding-right: 36px;
    border: 2px solid white;
    background-color: #030304;
    transition: background 0.5s ease, color 0.5s ease;
}

.footer {
    padding: 5px;
    color: #fff;
    margin-top: 20px;
    font-family: 'Rubik', sans-serif;
    font-size: 12px; /* Reduced font size */
  }

.message {
    font-size: 18px; /* Reduced font size */
    text-align: center;
    font-family: 'Syne', sans-serif;
    font-weight: 700; /* Bold weight for Syne */
    color: #FF9142;
    margin-bottom: 10px; /* Reduced margin */
}
  
.mail {
    text-align: center;
  }
  
.mail a {
    color: white;
    font-size: 20px; /* Reduced font size */
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    margin-right: 10px;
  }

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.social {
     /* Adjusted margin */
    align-items: center; /* How to align all the elements in the flex container vertically */
    display: flex;
  }


li{
    list-style-type: none;
}


.social-media a{
    margin-right: 9.65px;
}

.social-media img{
    width: 30px;
    height: 30px;
}

.social-media{
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
}

.copyright {
    text-align: center;
}



.copyright p{
    text-decoration: none;
    color: white;
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    font-size: 12px;
}

.line-separator {
    height: 2px;
    background-color: #949494;
}

.start{
    color: #ffffff;
    align-items: center;
    text-align: center;
    padding: 30px;
    margin-top: 120px;
    display: inline-block;
    max-width: 100%;    
}

.start h1{
    font-family: 'Syne', sans-serif;
    font-size: 72px;
    margin-bottom: 20px;
    align-items: center;
}
.start button {
    font-family: 'Urbanist', sans-serif;
    font-size: 25px;
    font-weight: 700;
    border-radius: 100px;
    padding: 15px;
    padding-left: 36px;
    padding-right: 36px;
    border: none; 
    background-color: #FF9142; /* Set the initial button color */
    background-size: 200% 200%;
    background-position: top;
    color: rgb(0, 0, 0);
    margin-top: 40px;
    transition: background 0.5s ease, color 0.5s ease; 
}
  
.start button:hover {
    background-color: rgb(0, 0, 0); /* Fills the color from top to bottom on hover */
    color: #FF9142; /* Invert the text color on hover */
    transition: background 0.5s ease, color 0.5s ease;
  }



button{
    cursor: pointer;
}

/* Other CSS styles */

.discover-button {
  opacity: 0;
}

.discover-button.show {
  opacity: 1;
  transition: opacity 1s ease, background 0.5s ease, color 0.5s ease;/* Smooth transition effect */
}

/* Other CSS styles *//* Other CSS styles */

.typing-cursor {
  display: inline-block;
  vertical-align: auto;
  width: 5px; /* Adjust the width of the cursor */
  height: 60px; /* Adjust the height of the cursor */
  background-color: rgb(255, 255, 255); /* Adjust the color of the cursor */
  animation: blink-caret 0.75s infinite; /* Define the blinking animation */
}

@keyframes blink-caret {
  0%, 100% { opacity: 0; } /* Define the opacity for the blinking effect */
  50% { opacity: 1; } /* Define the opacity for the blinking effect */
}

/* Other CSS styles */

#contact-link:hover{
    background-color: white;
    color: #030304;
    transition: background 0.5s ease, color 0.5s ease;
}

.aboutme-button {
    font-family: 'Rubik', sans-serif;
    font-size: 17px;
    font-weight: 700;
    border-radius: 100px;
    padding: 15px;
    padding-left: 36px;
    padding-right: 36px;
    border: none; 
    background-color: #FF9142; /* Set the initial button color */
    background-size: 200% 200%;
    background-position: top;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    transition: background 0.5s ease, color 0.5s ease;
    margin-right: 20px;
}

.aboutme-button:hover {
    background-color: rgb(0, 0, 0); /* Fills the color from top to bottom on hover */
    color: #FF9142; /* Invert the text color on hover */
    transition: background 0.5s ease, color 0.5s ease;
}

.cv-button{
    font-family: 'Rubik', sans-serif;
    font-size: 17px;
    font-weight: 700;
    border-radius: 100px;
    padding: 15px;
    padding-left: 36px;
    padding-right: 36px;
    border: none; 
    background-color: #FF9142; /* Set the initial button color */
    background-size: 200% 200%;
    background-position: top;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    transition: background 0.5s ease, color 0.5s ease;
}
.cv-button a {
    color: inherit;
    text-decoration: inherit;
}

.cv-button:hover {
    background-color: rgb(0, 0, 0); /* Fills the color from top to bottom on hover */
    color: #FF9142; /* Invert the text color on hover */
    transition: background 0.5s ease, color 0.5s ease;
}


.button-container{
    margin-bottom: 180px;
    display: flex;
}




.page-enter {
    opacity: 0;
  }
  
  .page-enter-active {
    opacity: 1;
    transition: opacity 300ms;
  }
  
  .page-exit {
    opacity: 1;
  }
  
  .page-exit-active {
    opacity: 0;
    transition: opacity 300ms;
  }
  
 /* .fade-in-enter { // comentado por si acaso
    opacity: 0;
  }
  
  .fade-in-enter-active {
    opacity: 1;
    transition: opacity 300ms;
  }
  
  .fade-in-exit {
    opacity: 1;
  }
  
  .fade-in-exit-active {
    opacity: 0;
    transition: opacity 300ms;
  } */

  .image{
    margin-top: 70px;
    margin-right: 150px;
  }

  .image img{
    width: 400px;
    border-radius: 30px;
  }

  .flex-container-main{
    display: flex;
    justify-content: space-between;
  }

  .menu-button{
    display: none;
}

@media screen and (max-width: 420px) {
    .start{
        margin-top: 50px; 
    }
    
}


@media screen and (max-width: 510px) {
    .flex-container{
        flex-direction: column;
    }

    .pc-version{
        display: none;
    }

    .mobile-version{
        display: block;
        font-family: 'Rubik', sans-serif;
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 20px;
        margin-top: 0;
        text-align: left;
        width: 100%;
        opacity: 0.5;
    }

    .skills h2{
        font-size: 30px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 560px) {
    .aboutme-button{
        margin-right: 0;
    }
    
}

@media screen and (max-width: 646px) {
    .menu-list{
        display: none;
    }
    .menu-button{
        display: flex;
        padding: 10px;
        align-items: center;
    }

    .menu-button button{
        border: none;
        background-color: transparent;
    }

    .menu-button img{
        width: 30px;
        height: 30px;
        
    }

}

@media screen and (max-width: 690px) {
    .start h1{
        font-size: 45px;
        width: 100%;
    }
    .start button{
        font-size: 15px;
    }
}

@media screen and (max-width: 912px) {
    .image{
        display: none;
    }
    .content{
        width: 100%;
        text-align: center;
        margin-right: 40px;
        margin-left: 40px;
    }

    .code-desc li{
        display: none;
    }

    .code-title li{
        font-family: 'Urbanist', sans-serif;
        font-weight: 500;
        color: #ccc;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 28px;
        margin: 20px;
        padding: 0px;  
        padding-bottom: 0px;
        padding-top: 0px;
        justify-content: center;
    }

    .title-logo{
        justify-content: center;
    }
    
}

@media screen and (max-width: 1050px) {
    .image img{
        width: 300px;
        margin-top: 160px;
    }
    
}

@media screen and (max-width: 1200px) {
    .button-container{
        display: block;
    }
    
}
