@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap'); /*rubik font*/
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;700&display=swap'); /* Syne font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    background-repeat: no-repeat;
}

canvas {
  position: fixed;
  width: inherit;
  height: 100%;
  z-index: 0;
  opacity: 0.5;
}

.header {
  position: relative;
  z-index: 1;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin-top: 5px;
  align-items: center;

    
}
.content {
    margin: 20px;
    color: white;
    width: 50.5%;
    margin-left: 100px;
    margin-top: 60px;
    margin-right: 40px;
}

.content h2{
    margin-bottom: 90px;
    font-family: 'Syne', sans-serif;
    font-size: 56px;
}

.pc-version {
    z-index: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    margin-top: 0;
    text-align: left;
    width: 100%;
    opacity: 0.5;
}

.mobile-version{
    display: none;
}

.skills {
    margin-top: 30px;
    
}

.skills ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: center;
}

.code-title{
    padding: 20px;
    margin-bottom: 20px;

}

.code-title li,
.code-desc li {
  opacity: 0;
  transition: opacity 0.7s ease;
}

.code-title li.show,
.code-desc li.show {
  opacity: 1;
}

.code-title li{
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    color: #ccc;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 28px;
    margin: 50px;
    padding: 38px;  
    padding-bottom: 50px;
    padding-top: 130px;
    width: 300px;
}

.code-desc li{
    /*font-family: 'Rubik', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin-top: 0;
    text-align: left;
    width: 100%;
    opacity: 0.5;
    padding-top: 40px;
    font-weight: 0;
    margin: 0;*/
    font-weight: 0;
    border: none;
    font-size: 14px;
    margin: 0px;
    padding: 0px;  
    padding-bottom: 50px;
    padding-top: 15px;
    width: 300px;
    padding-bottom: 0;
}




.title-logo{
    margin: 0;
    align-items: center;
    display: flex;
}

.code-logo{
    width: 40px;
    margin-left: 10px;
    margin-top: 0px;
}

.skills h2{
    font-family: 'Syne', sans-serif;
    font-size: 64px;
    margin-bottom: 88px;
    text-align: center;
    width: 100%;
    color: white;
}



.menu-list{
    list-style-type: none;
    margin-left: auto;
    padding: 5px;
    display: flex;
    margin-right: 20px;

}
.menu-list a{
    text-decoration: none;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 13px;
    opacity: 0.5; 
    font-weight: 450;
    margin: 20px;
    transition: opacity 0.2s ease-in-out;
}

.menu-list a:hover{
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.name{
    font-family: 'Syne', sans-serif;
    font-size: 16px;
    margin-left: 20px;
    color: white;

}

.name a{
    text-decoration: none;  
    color: #fff; 
}


#contact-link{
    margin-left: 40px;
    opacity: 1;
    border-radius: 100px;
    padding: 15px;
    padding-left: 36px;
    padding-right: 36px;
    border: 2px solid white;
    background-color: #030304;
    transition: background 0.5s ease, color 0.5s ease;
}

.footer {
  position: relative;
  z-index: 1;
    padding: 5px;
    color: #fff;
    margin-top: 20px;
    font-family: 'Rubik', sans-serif;
    font-size: 12px; /* Reduced font size */
  }

.message {
    font-size: 18px; /* Reduced font size */
    text-align: center;
    font-family: 'Syne', sans-serif;
    font-weight: 700; /* Bold weight for Syne */
    color: #FF9142;
    margin-bottom: 10px; /* Reduced margin */
}
  
.mail {
    text-align: center;
  }
  
.mail a {
    color: white;
    font-size: 20px; /* Reduced font size */
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    margin-right: 10px;
  }

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.social {
     /* Adjusted margin */
    align-items: center; /* How to align all the elements in the flex container vertically */
    display: flex;
  }


li{
    list-style-type: none;
}


.social-media a{
    margin-right: 9.65px;
}

.social-media img{
    width: 30px;
    height: 30px;
}

.social-media{
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
}

.copyright {
    text-align: center;
}



.copyright p{
    text-decoration: none;
    color: white;
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    font-size: 12px;
}

.line-separator {
    height: 2px;
    background-color: #949494;
}

.start{
    color: #ffffff;
    align-items: center;
    text-align: center;
    padding: 30px;
    margin-top: 90px;
    display: inline-block;
    max-width: 100%;
    
}





.start h1{
    font-family: 'Syne', sans-serif;
    font-size: 72px;
    margin-bottom: 20px;
    align-items: center;
}
.start button {
    font-family: 'Urbanist', sans-serif;
    font-size: 25px;
    font-weight: 700;
    border-radius: 100px;
    padding: 15px;
    padding-left: 36px;
    padding-right: 36px;
    border: none; 
    background-color: #FF9142; /* Set the initial button color */
    background-size: 200% 200%;
    background-position: top;
    color: rgb(0, 0, 0);
    margin-top: 40px;
    transition: background 0.5s ease, color 0.5s ease; 
}
  
.start button:hover {
    background-color: rgb(0, 0, 0); /* Fills the color from top to bottom on hover */
    color: #FF9142; /* Invert the text color on hover */
    transition: background 0.5s ease, color 0.5s ease;
  }



button{
    cursor: pointer;
}

/* Other CSS styles */

.discover-button {
  opacity: 0;
}

.discover-button.show {
  position: relative;
  z-index: 1;
  opacity: 1;
  transition: opacity 1s ease, background 0.5s ease, color 0.5s ease;/* Smooth transition effect */
}

/* Other CSS styles *//* Other CSS styles */

.typing-cursor {
  display: inline-block;
  vertical-align: auto;
  width: 5px; /* Adjust the width of the cursor */
  height: 60px; /* Adjust the height of the cursor */
  background-color: rgb(255, 255, 255); /* Adjust the color of the cursor */
  animation: blink-caret 0.75s infinite; /* Define the blinking animation */
}

@keyframes blink-caret {
  0%, 100% { opacity: 0; } /* Define the opacity for the blinking effect */
  50% { opacity: 1; } /* Define the opacity for the blinking effect */
}

/* Other CSS styles */

#contact-link:hover{
    background-color: white;
    color: #030304;
    transition: background 0.5s ease, color 0.5s ease;
}

.aboutme-button {
    font-family: 'Rubik', sans-serif;
    font-size: 17px;
    font-weight: 700;
    border-radius: 100px;
    padding: 15px;
    padding-left: 36px;
    padding-right: 36px;
    border: none; 
    background-color: #FF9142; /* Set the initial button color */
    background-size: 200% 200%;
    background-position: top;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    transition: background 0.5s ease, color 0.5s ease;
    margin-right: 20px;
}

.aboutme-button:hover {
    background-color: rgb(0, 0, 0); /* Fills the color from top to bottom on hover */
    color: #FF9142; /* Invert the text color on hover */
    transition: background 0.5s ease, color 0.5s ease;
}

.cv-button{
    font-family: 'Rubik', sans-serif;
    font-size: 17px;
    font-weight: 700;
    border-radius: 100px;
    padding: 15px;
    padding-left: 36px;
    padding-right: 36px;
    border: none; 
    background-color: #FF9142; /* Set the initial button color */
    background-size: 200% 200%;
    background-position: top;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    transition: background 0.5s ease, color 0.5s ease;
}
.cv-button a {
    color: inherit;
    text-decoration: inherit;
}

.cv-button:hover {
    background-color: rgb(0, 0, 0); /* Fills the color from top to bottom on hover */
    color: #FF9142; /* Invert the text color on hover */
    transition: background 0.5s ease, color 0.5s ease;
}


.button-container{
    margin-bottom: 180px;
    display: flex;
}

.button-container button{
    position: relative;
    z-index: 2;
}


.page-enter {
    opacity: 0;
  }
  
  .page-enter-active {
    opacity: 1;
    transition: opacity 300ms;
  }
  
  .page-exit {
    opacity: 1;
  }
  
  .page-exit-active {
    opacity: 0;
    transition: opacity 300ms;
  }
  
 /* .fade-in-enter { // comentado por si acaso
    opacity: 0;
  }
  
  .fade-in-enter-active {
    opacity: 1;
    transition: opacity 300ms;
  }
  
  .fade-in-exit {
    opacity: 1;
  }
  
  .fade-in-exit-active {
    opacity: 0;
    transition: opacity 300ms;
  } */

  .image{
    z-index: 1;
    margin-top: 70px;
    margin-right: 150px;
  }

  .image img{
    width: 400px;
    border-radius: 30px;
  }

  .flex-container-main{
    display: flex;
    justify-content: space-between;
  }

  .menu-button{
    display: none;
}

.contact-title-class{
  text-align: center;
}




.contact-title-class h1{
    color: white;
    font-family: 'Syne', sans-serif;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.contact-title-class p{
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    margin-bottom: 30px;
    opacity: 0.5;
}




*{
  outline: #FF9142
}


.container{
  display: flex;
  padding: 25px 10px;
  justify-content: space-between;
  margin-top: 70px;
}

.container .text{
  margin-left: 100px;
  font-size: 75px;
  font-weight: 600;
  font-family: 'Syne', sans-serif;
  color: white;
  max-width: 500px;
}



input:-webkit-autofill{
  -webkit-text-fill-color: white !important;
  -webkit-background-clip: text;
}

form{
  z-index: 1;
}

.container form{
  padding: 30px 0 0 0;
  margin-right: 100px;
}
.container form .form-row{
  display: flex;
  margin: 32px 0;
}
form .form-row .input-data{
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}
form .form-row .textarea{
  height: 70px;
}
.input-data input,
.textarea textarea{
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  background-color: transparent;
  color: white;
}

label{
    color: white;
}

.input-data input:focus ~ label, .textarea textarea:focus ~ label,
.input-data input:valid ~ label, .textarea textarea:valid ~ label{
  transform: translateY(-20px);
  font-size: 14px;
  color: #FF9142;
}
.textarea textarea{
  resize: none;
  padding-top: 10px;
}
.input-data label{
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}
.textarea label{
  width: 100%;
  bottom: 40px;
}
.input-data .underline{
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 80%;
}
.input-data .underline:before{
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #FF9142;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before{
  transform: scale(1);
}
.submit-btn .input-data{
  overflow: hidden;
  height: 45px!important;
  width: 25%!important;
}
.submit-btn .input-data .inner{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(right, #FF9142, #000000, #FF9142, #000000);
  transition: all 0.4s;
}
.submit-btn .input-data:hover .inner{
  left: 0;
}


.form-class{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.input-data-button{
  margin-left: 20px;
}

.send-button{
  font-family: 'Rubik', sans-serif;
  background-color: #FF9142;
  border: none;
  border-radius: 100px;
  color: #000000;
  font-size: 17px;
  font-weight: 700;
  padding: 10px 30px 10px 30px;
  letter-spacing: 1px;
  transition: background 0.4s ease, color 0.4s ease;
}

.send-button:hover{
  color: #FF9142;
  background-color: #000000;
  cursor: pointer;
}

.container .text{
  margin-right: 40px;
}

.start{
  text-align: center;
  justify-content: center;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #FF9142;
}

input:focus + .slider {
  box-shadow: 0 0 1px #FF9142;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.toggle-switch {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  margin-right: 10px; /* Adjust margin as needed */
}



@media (max-width: 700px) {
  .container .text{
    font-size: 30px;
  }
  .container form{
    padding: 10px 0 0 0;
  }
  .container form .form-row{
    display: block;
  }
  form .form-row .input-data{
    margin: 35px 0!important;
  }
  .submit-btn .input-data{
    width: 40%!important;
  }
}

@media screen and (max-width: 710px) {
    .container .text{
        display: none;
    }

    .container form{
        margin-right: 0;
        margin-left: 50px;
    }

    .input-data-button{
        margin-left: 0;
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .send-button{
      margin-right: 50px;      
    }
}




@media screen and (max-width: 420px) {
    .start{
      margin-top: 50px; 
    }
    
}


@media screen and (max-width: 510px) {
    .flex-container{
        flex-direction: column;
    }

    .pc-version{
        display: none;
    }

    .mobile-version{
        display: block;
        font-family: 'Rubik', sans-serif;
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 20px;
        margin-top: 0;
        text-align: left;
        width: 100%;
        opacity: 0.5;
    }

    .skills h2{
        font-size: 30px;
        margin-bottom: 40px;
    }

    .container{
      margin-top: 50px;
    }

}

@media screen and (max-width: 560px) {
    .aboutme-button{
        margin-right: 0;
    }
    
}

@media screen and (max-width: 850px) {
    .menu-list{
        display: none;
    }

    .toggle-switch{
      position: relative;
      right: 0; 
    }

}

@media screen and (max-width: 690px) {
    .start h1{
        font-size: 45px;
        width: 100%;
    }
    .start button{
        font-size: 15px;
    }
}

@media screen and (max-width: 912px) {
    .image{
        display: none;
    }

    .button-container{
        margin-bottom: 50px;
    }

    .content{
        width: 100%;
        text-align: center;
        margin-right: 40px;
        margin-left: 40px;
    }

    .code-desc li{
        display: none;
    }

    .code-title li{
        font-family: 'Urbanist', sans-serif;
        font-weight: 500;
        color: #ccc;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 28px;
        margin: 20px;
        padding: 0px;  
        padding-bottom: 0px;
        padding-top: 0px;
        justify-content: center;
    }

    .title-logo{
        justify-content: center;
    }
    
}

@media screen and (max-width: 1050px) {
    .image img{
        width: 300px;
        margin-top: 160px;
    }

    canvas{
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000000;
        opacity: 0.5;
    }
  }
    

@media screen and (max-width: 1200px) {
    .button-container{
        display: block;
    }
    
}
